#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.progress-bar-container {
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  margin: 10px 0;
}

.progress-bar {
  background-color: green;
  text-align: right;
  padding: 1px;
  transition: 0.5s ease-in;
}
