#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toast-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: teal;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
