#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 1rem;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  background-color: white;
  color: #333;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

button {
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.success {
  color: green;
}

.output {
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  white-space: pre-wrap;
}
