#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 5px;
  max-height: 250px;
  background-color: rgb(177, 183, 190);
  color: black;
  cursor: pointer;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-img {
  width: 200px;
  height: 200px;
}
