#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rockPaperScissor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Chakra Petch", sans-serif;
}
.rockPaperScissor > h1 {
  margin: 1rem 0;
}
.rockPaperScissor > p {
  margin-bottom: 1.3rem;
}

.container {
  padding: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.06rem;

  background-color: #ead196;
}
.choices {
  padding: 0.4rem;
}
.choices button {
  font-size: 5rem;
  padding: 0.4rem;
  margin: 4px 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #bf3131;
  border: 4px solid #7d0a0a;
  transition: all 0.5s ease;
}
.choices button:hover {
  background-color: #7d0a0a;
  border-color: #bf3131;
  scale: 1.1;
}
.choices button:active {
  scale: 0.8;
}

.rockPaperScissor-result,
.rockPaperScissor-scores {
  width: 300px;
  padding: 10px 20px 0 20px;
  text-align: left;
}
.rockPaperScissor-result {
  margin-top: 1rem;
}
.rockPaperScissor-result p {
  font-size: 0.9rem;
  font-weight: 100;
}

.rockPaperScissor-result .win-result {
  font-size: 1.4rem;
  margin: 0.5rem 0 0 0;
  font-weight: normal;
  text-align: center;
}

.playerScore span {
  color: green;
}
.computerScore span {
  color: red;
}

.reset-scores button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  margin-top: 1rem;
  background: linear-gradient(to top, #bf3131, #7d0a0a, #f9cb43);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.reset-scores button:hover {
  background: linear-gradient(
    to bottom,
    hsl(0, 59%, 17%),
    hsl(0, 85%, 36%),
    hsl(45, 94%, 52%)
  );
}
