h1 {
  font-size: 1.5rem;
}

.table-container {
  width: 100%;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.styled-table th,
.styled-table td {
  border: 1px solid white;
  padding: 14px 18px;
  text-align: left;
  font-size: 18px;
  text-align: center;
}

.styled-table th {
  font-weight: bold;
  background-color: var(--accent-bg);
}
