#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  padding: 2rem;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.lists-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
