#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: left;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: semibold;
  text-align: left;
}

.line {
}

.name {
  width: 60%;
}

.bio {
  width: 80%;
}

.skeleton {
}

.skeleton::after {
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
