#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.circle-drawer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawing-area {
  width: 400px;
  height: 300px;
  border: 2px solid #888;
  position: relative;
  background-color: #fefefe;
  margin-bottom: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  gap: 10px;
}

.undo-btn,
.redo-btn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.undo-btn {
  background-color: #f83535;
  border: none;
  color: white;
  border-radius: 5px;
}

.redo-btn {
  background-color: #3098ff;
  border: none;
  color: white;
  border-radius: 5px;
}

.undo-btn:hover {
  background-color: #d12c2c;
}

.redo-btn:hover {
  background-color: #267dd5;
}

.undo-btn:disabled,
.redo-btn:disabled {
  background-color: #727272;
}
