#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-box {
  padding: 5px 10px;
  width: 200px;
  text-align: center;
  font-size: 1rem;
  background-color: #fefefe;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #333;
}

.result {
  font-size: 1rem;
}
