#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: #c9c9c9;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input-field input {
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #a9a9a9;
}

button {
  margin-top: 10px;
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: teal;
  color: #fafafa;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.result {
  margin-top: 10px;
}
