#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.temperature-convertor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c2;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temperature-convertor > h1 {
  margin: 1rem 0;
}

.temperature-convertor > p {
  margin-bottom: 1rem;
  text-align: center;
}

.tempForm {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: white;
  align-items: center;
  justify-content: center;
}

#temperatureUnit {
  outline: none;
  text-align: center;
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.1rem;
  border: 1px solid gray;
  margin: 0 auto;
}

input,
select {
  background-color: aliceblue;
  color: #3a3a3a;
}

#fromUnit,
#toUnit,
#convert-btn {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 10px;
  min-width: 120px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 60%;
}

#convert-btn {
  /* background-color: #b2cd9c; */
  cursor: pointer;
  font-size: 1.3rem;
  background-color: rgb(94, 156, 232);
  color: #e8e9e7;
  border: #e8e9e7;
}

#convert-btn:disabled {
  /* background-color: #f0f2bd; */
  /* color: #b2cd9c; */
  opacity: 0.7;
  cursor: not-allowed;
}

#result {
  text-align: center;
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
  /* color: #4b352a;
   */
}

@media (max-width: 600px) {
  .temperature-convertor > p {
    text-align: center;
  }

  .temperature-convertor-container {
    width: 80%;
  }

  .inputs {
    flex-direction: column;
  }

  #fromUnit,
  #toUnit,
  #convert-btn {
    width: 90%;
  }

  #result {
    font-size: 1.4rem;
  }
}
