#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.question-container,
.score-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

.question {
  font-size: 1.2rem;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
  align-items: flex-start;
}

.option {
  font-size: 1.1rem;
  cursor: pointer;
}

.option input {
  margin-right: 0.5rem;
  color: white;
}

.submit-button,
.restart-button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover,
.restart-button:hover {
  background-color: #0056b3;
}

.warning {
  color: red;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.95rem;
}
