.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items>ul {
    display: flex;
    list-style: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}