#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.paginated-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fefefe;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.7rem;
  text-align: left;
  background-color: #fff;
  width: 100%;
}

.article-card h3 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.bookmark {
  color: lightgrey;
  cursor: pointer;
  font-size: 1.5rem;
}

.bookmark.active {
  color: gold;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
