#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.passwordGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 500px;
  margin: 0 auto;
}
.passwordGenerator > h1 {
  margin: 1rem 0;
}
.passwordGenerator > p {
  margin-bottom: 1rem;
}
.passwordGenerator-container {
  width: 350px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkboxes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
label[for="passwordLength"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
#passwordLength {
  text-align: center;
  width: 50%;
  height: 25px;
  margin: 10px;
  font-size: 1em;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.87);
  color: #242424;
  outline: none;
  border: 1px solid;
}
.generate-btn {
  font-size: 1.3rem;
  width: 50%;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
  background-color: rgb(57, 171, 242);
  color: whitesmoke;
  border: none;
}

.result {
  width: 80%;
  margin-top: 0.6rem;
  cursor: pointer;
}
.result input {
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  height: 1.5rem;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
}
.error {
  color: red;
  margin-bottom: 10px;
}
